/* caixas da pagina inicial */

body {
    background: url(/image/alo.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    justify-items: center;
    height: 100vh;
  }
  
  img {
    display: block;
    max-width: 55%;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    padding: 0 10px;
  }
  
  .title {
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
  }
  
  .caixa {
    background: rgba(208, 208, 207, 0.028);
    padding: 3rem;
    box-shadow: 6px 1px 44px rgb(5, 230, 255);
    border-radius: 60px;
    text-align: center;
    margin-top: 10rem;
  }
  
  .profile {
    max-width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  .profile span {
    font-size: 24px;
    color: #ffffff;
  }
  
  .profile p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .redes-sociais {
    display: flex;
    justify-content: center;
  }
  
  .redes-sociais li {
    margin-right: 0rem;
  }
  
  .copyright {
    font-size: 24px;
    color:rgb(5, 230, 255);
    margin-top: 50vh;
    padding-bottom: 50vh;
    text-align: center;
  }
  
  /* ------------- */