/* caixas da pagina inicial */

body {
  background: url(/image/alo.jpg) no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  justify-items: center;
  height: 100vh;
}

.copyright {
  font-size: 24px;
  color:rgb(5, 230, 255);
  margin-top: 50vh;
  padding-bottom: 50vh;
  text-align: center;
}

/* ------------- */